# Object files
*.o
*.ko
*.obj
*.elf
*.s

# Ceedling build and vendor builds
build/
vendor/

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.bin
*.map

# Debug files
*.dSYM/
*.su

# biomeme
*.tag*
**/obj

# IAR
project/Debug
project/Debug No Charger
project/Release
project/settings
*.dep
*.ewd
*.ewt
git-version.h

# Visual Studio Code
.vscode
